body {
  line-height: 1.5;
  font-size: 100%;
  color: #404c47;
}

main {
  margin: auto 0;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

main section {
  padding: 2em;
}

.project-body {
  padding: 1em;
}

hr {
  margin: .4em;
  width: 100%;
}

footer {
  text-align: center;
}


/*TEXT STYLES
=============================*/

address {
  display: inline-block;
}

p {
  font-size: 1em;
}


/*LINK STYLES
=======================================*/

a, a:link, a:active {
  color: #f64744;
  text-decoration: none;
}

a:hover {
  color: #932a28;
}

a:focus {
  border-bottom: 1px solid #932a28;
  padding-bottom: 5px;
  color: #932a28;
}
